{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('css/index.css')}}>
    <link rel="stylesheet" href={{ asset('css/test.css')}}>
{% endblock %}

{% block title %}Page Acceuil
{% endblock %}

{% block body %}

<a href={{path('home_index')}}>Accueil</a>
<a href={{path('home_hello', { name:'Nicolas'})}}>Hello</a> {# Route avec parametres dynamiques #}
<a href={{path('home_helloAge',{age:22})}}>Age</a>
<a href={{path('home_template',{prenom:'Nicolas'})}}>Template</a>

	<main>
		<h1>Ma page d'acceuil</h1>
        <h2>{{name}}</h2>

        {% set animals = ['Chat', 'Chien', 'Lapin', 'Oiseau', 'Poisson'] %}

<ul>
    {% for animal in animals %}
        <li>{{ animal }}</li>
    {% endfor %}
</ul>
<ul>
    {% for animal in animals %}
        <li>
            <a href={{path('home_hello',{name:animal})}}>{{ animal }}</a>
        </li>
    {% endfor %}
</ul>
	</main>
{% endblock %}